html, body, div, h1
{
	margin: 0;
	padding: 0;
}

.main
{
	margin: 0 auto;
	width: 275px;
	display: inline-block;
}

.icon
{
	display: inline-block;
}

.time-icon
{
	width: 96px;
	height: 96px;
}

.container
{
	display: inline-block;
	width: 170px;
}

.holder
{
	display: block;
}

.audio
{
	margin: 0 auto;
	text-align: center;
	font-weight: bolder;
}